body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-weight: bolder;
    font-size: 40px;
    text-align: center;
}

h2 {
    font-weight: bold;
    font-size: 25px;
    text-align: center;
}

.first {
    background-color: #7BBC53;
    text-align: center;
    padding: 15px 0px 15px 0px;
    margin-bottom: 15px;
}

.second {
    background-color: #EDB931;
    text-align: center;
    padding: 15px;
    margin-bottom: 15px;
}

.third {
    background-color: #4378A0;
    text-align: center;
    padding: 15px;
    margin-bottom: 15px;
}

.flexbox{
    background-color: #E4502E;
    text-align: center;
    padding: 15px;
    margin-bottom: 15px;
}

.grid {
    background-color: #e78a65;
    text-align: center;
    padding: 15px;
    margin-bottom: 15px;
}

#first {
    color:white;
}

#second {
    color:white;
}

#third {
    color:white;
}

#fourth {
    color:white;
}

#fifth {
    color: white;
}